<div class="container">
    <div class="box mat-elevation-z8">
        <div class="icon-container" style="background-color: rgb(107, 116, 4);">
            <mat-icon class="icon">diversity_3</mat-icon>
            <span class="s-text">STUDENTS</span>
        </div>
        <div class="l-text ml mt">
            15,000
        </div>
    </div>

    <div class="box mat-elevation-z8">
        <div class="icon-container" style="background-color: rgb(116, 58, 4);">
            <mat-icon class="icon">boy</mat-icon>
            <span class="s-text">TEACHERS</span>
        </div>
        <div class="l-text ml mt">
            678
        </div>
    </div>

    <div class="box mat-elevation-z8">
        <div class="icon-container" style="background-color: rgb(11, 116, 4);">
            <mat-icon class="icon">sensor_occupied</mat-icon>
            <span class="s-text">STAFF</span>
        </div>
        <div class="l-text ml mt">
            498
        </div>
    </div>

    <div class="box mat-elevation-z8">
        <div class="icon-container" style="background-color: rgb(116, 116, 4);">
            <mat-icon class="icon">diversity_1</mat-icon>
            <span class="s-text">PARENTS</span>
        </div>
        <div class="l-text ml mt">
            30,000
        </div>
    </div>
</div>
<div class="container">
    <div class="box mat-elevation-z8">
        <div class="icon-container" style="background-color: rgb(19, 1, 59);">
            <mat-icon class="icon">currency_rupee</mat-icon>
            <span class="s-text">FEE DUES</span>
        </div>
        <div class="l-text ml mt">
            1,15,000
        </div>
    </div>

    <div class="box mat-elevation-z8">
        <div class="icon-container" style="background-color: rgb(3, 78, 70);">
            <mat-icon class="icon">payments</mat-icon>
            <span class="s-text">ADVANCES</span>
        </div>
        <div class="l-text ml mt">
            75,000
        </div>
    </div>

    <div class="box mat-elevation-z8">
        <div class="icon-container" style="background-color: rgb(16, 27, 16);">
            <mat-icon class="icon">credit_card</mat-icon>
            <span class="s-text">PAYABILS</span>
        </div>
        <div class="l-text ml mt">
            1,05,000
        </div>
    </div>

    <div class="box mat-elevation-z8">
        <div class="icon-container" style="background-color: rgb(70, 50, 62);">
            <mat-icon class="icon">summarize</mat-icon>
            <span class="s-text">EXPENCES</span>
        </div>
        <div class="l-text ml mt">
            35,000
        </div>
    </div>
</div>
<!-- for two boxes -->
<div class="container">
    <div class="panel mat-elevation-z8" style="background-color: pink;">
        <div class="panel-title" style="background-color: rgb(30,1,12); color: white;"><div>ACADAMIC CALENDER</div></div>
        <div class="bullets"><strong>11-11-2024</strong> : Meeting at 10AM in Conference Room</div>
        <div class="bullets"><strong>19-11-2024</strong> : Project deadline is approaching</div>
        <div class="bullets"><strong>23-11-2024</strong> : Team Building activity next Friday</div>
        <div class="bullets"><strong>26-11-2024</strong> : Class 10 Pre Anua Exams</div>
        <div class="bullets"><strong>30-11-2024</strong> : 135 School Aniversary</div>
        <div class="bullets"><strong>01-11-2024</strong> : Christmas Festival Holidays</div>

    </div>  

    <div class="panel mat-elevation-z8" style="background-color: pink;">
        <div class="panel-title" style="background-color: rgb(20, 30, 1); color: white;"><div>NOTICE BOARD</div></div>
        <div class="bullets"><strong>11-11-2024</strong> : Meeting at 10AM in Conference Room</div>
        <div class="bullets"><strong>19-11-2024</strong> : Project deadline is approaching</div>
        <div class="bullets"><strong>23-11-2024</strong> : Team Building activity next Friday</div>
        <div class="bullets"><strong>26-11-2024</strong> : Class 10 Pre Anua Exams</div>
        <div class="bullets"><strong>30-11-2024</strong> : 135 School Aniversary</div>
        <div class="bullets"><strong>01-11-2024</strong> : Christmas Festival Holidays</div>
    </div>
    

</div>
<!-- for four boxes -->
<div class="container">
    <div class="panel mat-elevation-z8" style="background-color: pink;">
        <div class="panel-title" style="background-color: rgb(180, 120, 40); color: white;"><div>NOTIFICATIONS</div></div>
        <div class="bullets"><strong>A1S1112024</strong> : Aarush- 7000/-</div>
        <div class="bullets"><strong>A1S1122024</strong> : Honey- 3000/-</div>
        <div class="bullets"><strong>A1S1132024</strong> : Naveen- 8000/-</div>
        <div class="bullets"><strong>A1S1142024</strong> : Divya Tej-2000/-</div>
        <div class="bullets"><strong>A1S1152024</strong> : Chanyank- 9000/-</div>
        <div class="bullets"><strong>A1S1162024</strong> : Sai- 5000/-</div>
    </div>

    <div class="panel mat-elevation-z8" style="background-color: pink;">
        <div class="panel-title" style="background-color: rgb(1, 30, 26); color: white;"><div>COMPLAINT BOX</div></div>
        <div class="bullets"><strong>A1S1112024</strong> : Aarush- fee due</div>
        <div class="bullets"><strong>A1S1122024</strong> : Honey - fee due</div>
        <div class="bullets"><strong>A1S1132024</strong> : Naveen-fee due</div>
        <div class="bullets"><strong>A1S1142024</strong> : Divya Tej-fee due</div>
        <div class="bullets"><strong>A1S1152024</strong> : Chanyank-fee due</div>
        <div class="bullets"><strong>A1S1162024</strong> : Sai-fee due</div>
    </div>

    <div class="panel mat-elevation-z8" style="background-color: pink;">
        <div class="panel-title" style="background-color: rgb(30, 1, 1); color: white;"><div>HELP LINE</div></div>
        <div class="bullets"><strong><mat-icon>call</mat-icon></strong> : contact:xyz</div>
        <div class="bullets"><strong><mat-icon>call</mat-icon></strong> : contact:xyz</div>
        <div class="bullets"><strong><mat-icon>call</mat-icon></strong> : contact:xyz</div>
        <div class="bullets"><strong><mat-icon>call</mat-icon></strong> : contact:xyz</div>
        
    </div>

    <div class="panel mat-elevation-z8" style="background-color: pink;">
        <div class="panel-title" style="background-color: rgb(11, 1, 30); color: white;"><div>SUGGESTIONS</div></div>
        <div class="bullets"><strong>Aarush</strong> : prepare well</div>
        <div class="bullets"><strong>Honey</strong> : prepare well</div>
        <div class="bullets"><strong>Naveen</strong> : prepare well</div>
        <div class="bullets"><strong>Divya tej</strong> : prepare well</div>
        <div class="bullets"><strong>Chanyank</strong> : prepare well</div>
        <div class="bullets"><strong>Sai</strong> : prepare well</div>
    </div>

</div>

<div class="container">
    <div class="panel mat-elevation-z8" style="background-color: pink;">
        <div class="panel-title" style="background-color: rgb(30, 17, 1); color: white;"><div>PARENTS MEETINGS</div></div>
        <div class="bullets"><strong>11-11-2024</strong> : Meeting at 10AM in Conference Room</div>
        <div class="bullets"><strong>19-11-2024</strong> : Meeting at 10AM in Conference Room</div>
        <div class="bullets"><strong>23-11-2024</strong> : Meeting at 10AM in Conference Room</div>
        <div class="bullets"><strong>26-11-2024</strong> : Meeting at 10AM in Conference Room</div>
        <div class="bullets"><strong>30-11-2024</strong> : Meeting at 10AM in Conference Room</div>
        <div class="bullets"><strong>01-11-2024</strong> : Meeting at 10AM in Conference Room</div>
    </div>
    <div class="panel mat-elevation-z8" style="background-color: pink;">
        <div class="panel-title" style="background-color: rgb(1, 30, 11); color: white;"><div>STAFF MEETINGS</div></div>
        <div class="bullets"><strong>11-11-2024</strong> : Meeting at 10AM in Office Room</div>
        <div class="bullets"><strong>19-11-2024</strong> : Meeting at 10AM in Office Room</div>
        <div class="bullets"><strong>23-11-2024</strong> : Meeting at 10AM in Office Room</div>
        <div class="bullets"><strong>26-11-2024</strong> : Meeting at 10AM in Office Room</div>
        <div class="bullets"><strong>30-11-2024</strong> : Meeting at 10AM in Office Room</div>
        <div class="bullets"><strong>01-11-2024</strong> : Meeting at 10AM in Office Room</div>
    </div>
    
</div>

<div id="chart_div" style="width: 80%; height: 200px;"></div>
    











