mat-toobar{
    margin-top: 60px;
    justify-content: space-evenly;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
@media(max-width:1024px){
    mat-toolbar{
        display: none;
    }
    #menu-button{
        display: flex;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 60px;
        z-index: 1000;
    }

}
@media(min-width:1025px){
    #menu-button{
        display: none;
    }
    mat-sidenav{
        display: none;
    }
}